@import 'meyer-reset';
@import 'outdated';
//@import 'animate';
//@import 'flexcode';
@import 'newcode';
@import 'compass';
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic&subset=latin,latin-ext);
html,
body {
  font-family: 'Source Sans Pro';
  font-size: 16px;
  font-weight: 300;
  height: 100%;
  min-height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}

input {
  -webkit-appearance: none;
}

.design {
  display: none;
  left: 0;
  opacity: .5;
  position: absolute;
  z-index: 99;
}

.bodyscroll {
  height: 100vh;
  width: 100vw;
//  overflow: hidden;
  @include maxw(1023px) {
    overflow-y: visible;
  }
  @include maxw(767px) {
    background-color: #24383d;
  }
}

.wrapper {
  height: 100%;
}

.column {
  @include clearfix;
  display: block;
  padding-left: 20px;
  padding-right: 30px;
  width: calc(100% - 30px);
  @include minw(769px) {
    float: left;
    height: 100vh;
    padding-left: 40px;
    padding-right: 40px;
    width: 280px;
  }
  h2 {
    font-size: 36px;
    line-height: 1.1;
    padding-bottom: 21px;
    padding-right: 30px;
    padding-top: 21px;
  }
  .column-text {
    padding-bottom: 20px;
  }
}

.section {
  @include clearfix;
  @include minw(769px) {
    display: block;
    height: 100vh;
    width: 100%;
  }
}

.right {
  @include maxw(768px) {
    display: none;
  }
  display: block;
  float: left;
  width: calc(100% - 360px);
  height: 100%;
}

.button {
  display: block;
  border: solid 2px #fff;
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 0);
  width: 276px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  padding-top: 13px;
  padding-bottom: 13px;
  transition: all .2s;
  cursor: pointer;
  margin-top: 19px;
  margin-bottom: 27px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  &:hover {
    background-color: rgba(255, 255, 255, .1);
  }
  &:active {
    background-color: rgba(255, 255, 255, 1);
    color: rgb(222, 93, 212);
  }
  &:active,
  &:hover {
    padding-top: 13px;
    padding-bottom: 13px;
  }
  @include maxw(321px) {
    margin-left: 0;
  }
}

.disabled {
  opacity: .3;
}

p {
  line-height: 1.5;
}

.mob-nav {
  width: 100%;
  background: rgba(0, 0, 0, 1);
  position: fixed;
  display: block;
  right: 0;
  top: 0;
  z-index: 31;
  transition: all .5s;
  @include minw(769px) {
    width: 210px;
    height: 53px;
  }
  &.transparent {
    background: rgba(0, 0, 0, 0);
    .small-logo {
      opacity: 0;
    }
  }
  .small-logo {
    position: absolute;
    top: -3px;
    display: block;
    height: 29px;
    width: 151px;
    left: 20px;
    padding-top: 20px;
    padding-bottom: 18px;
    opacity: 1;
    transition: all .5s;
    z-index: 35;
    background: url(../img/logo.svg) no-repeat 50% 50%;
    background-size: 151px;
  }
  .nav-toggle {
    display: block;
    padding: 20px 20px 20px 10px;
    float: right;
    cursor: pointer;
    @include minw(769px) {
      padding: 15px 15px 15px 20px;
      background: #1e1e1c;
      &:hover {
        //        background: #3e3e3a;
      }
    }
    .nav-bar {
      display: block;
      background-color: #ffffff;
      width: 26px;
      height: 3px;
      margin-bottom: 7px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .lang a {
    padding: 23px 20px 31px 20px;
    position: absolute;
    top: 0px;
    right: 55px;
    color: #fff;
    text-decoration: none;
    @include minw(769px) {
      padding: 17px 20px 20px 20px;
      background: #1e1e1c;
      &:hover {
        //        background: #3e3e3a;
      }
    }
  }
}

#landing {
  @include background (linear-gradient(0deg, rgba(251, 88, 88, 0.8) 0%, rgba(123, 85, 200, 0.8) 100%));
  @include minw(769px) {
    @include background (linear-gradient(0deg, rgba(251, 88, 88, 1) 0%, rgba(123, 85, 200, 1) 100%));
  }
  margin-left: 0;
  margin-right: 0;
  transition: all .3s;
  position: relative;
}

.front {
  .column {
    padding-bottom: 29px;
    color: #fff;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/landing.png);
    @include retina(landing);
    padding-top: 130px;
    @include minw(769px) {
      padding-top: 34.4vh;
      background-image: none;
      padding-bottom: 0;
    }
    z-index: 29;
    img.front-logo {
      display: block;
      width: 280px;
      margin-left: autWo;
      margin-right: auto;
      @include maxw(321px) {
        margin-left: 0;
      }
    }
    .column-text {
      padding: 103px 2px 18px 0;
      @include minw(769px) {
        padding: 17vh 0vh 3.2vh 0vh;
      }
    }
  }
  .right {
    position: relative;
    .front-selection {
      margin-right: -2px;
      height: 100vh;
      position: relative;
      overflow: hidden;
      .front-image {
        z-index: 1;
        position: absolute;
        height: 100%;
        overflow: hidden;
        right: 0px;
        @include maxw(1025px) {
          right: -150px;
        }
        svg {
          width: 100%;
          height: 100%;
          path {
            transition: all .5s;
            fill: rgba(0, 0, 0, .0);
            cursor: pointer;
          }
        }
        .build-button {
          position: absolute;
          border-radius: 50%;
          padding: 6px;
          text-align: center;
          transition: background 0.3s;
          text-decoration: none;
          //            border: solid 1px transparent;
          color: rgba(0, 0, 0, 0.3);
          .button-in {
            transition: all 0.3s;
            position: relative;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            padding: 8px 6px 4px 6px;
            //            border: solid 1px transparent;
          }
          &.built {
            background: rgba(0, 0, 0, 0.3);
            color: rgba(31, 31, 31, 1);
            .button-in {
              background: rgba(255, 255, 255, 0.8);
            }
            &.active {
              color: #fff;
              .button-in {
                background: rgba(85, 85, 82, 0.8);
                &:active {
                  background: rgba(0, 0, 0, 0.8);
                }
              }
              .build-info {
                opacity: 1;
              }
            }
          }
          &.not-built {
            border: solid 1px rgba(0, 0, 0, 0.3);
            color: rgba(0, 0, 0, 0.3);
            .button-in {
              border: solid 1px rgba(0, 0, 0, 0.3);
            }
            &.active {
              .button-in {
                background: rgba(80, 80, 77, 0.3);
              }
              .build-info {
                opacity: 1;
              }
            }
          }
        }
        .build-info {
          transition: all 0.3s;
          opacity: 0;
          background: rgba(12, 22, 30, 0.9);
          position: absolute;
          top: -20px;
          left: 48px;
          width: auto;
          min-width: 100px;
          text-align: left;
          padding: 12px 15px;
          font-size: 14px;
          color: #fff;
        }
        .build-a {
          top: 21%;
          right: 52%;
        }
        .build-b {
          top: 28%;
          right: 32%;
        }
        .build-c {
          top: 18%;
          right: 16%;
        }
      }
      .switch {
        cursor: pointer;
        color: #fff;
        display: block;
        z-index: 999;
        position: absolute;
        text-align: center;
        top: 13px;
        left: 20px;
        border: solid 1px rgba(255, 255, 255, 0.2);
        border-radius: 25px;
        transition: all 0.2s;
        padding: 2px 20px 5px 35px;
        &.day {
          .toggler {
            .toggler-icon {}
          }
        }
        &.night {
          padding: 2px 35px 5px 20px;
          .toggler {
            left: 65px;
            .toggler-icon {
              background-image: url('../img/toggle-moon.svg');
            }
          }
        }
        .toggler {
          position: absolute;
          width: 31px;
          height: 31px;
          top: -4px;
          transition: all 0.2s;
          background: url('../img/toggler.svg');
          left: -2px;
          .toggler-icon {
            background-position: 50% 50%;
            background-repeat: no-repeat;
            width: inherit;
            height: inherit;
            transition: all 0.2s;
            background-image: url('../img/toggle-sun.svg');
          }
        }
      }
    }
  }
}

.house {
  //  @include background (linear-gradient(0deg, rgba(251, 88, 88, 1) 0%, rgba(123, 85, 200, 1) 100%));
  height: 100%;
  .column {
    background: #fff;
    @include box-shadow(rgba(0, 0, 0, .3) 2px 2px 10px);
    .house-actions {
      height: 48px;
      position: relative;
      width: calc(100% + 40px);
      margin: 24px -20px 0 -20px;
      @include clearfix;
      .house-overlay-close {
        cursor: pointer;
        position: absolute;
        height: inherit;
        background-size: 48px;
        background-repeat: no-repeat;
        background-position: 0% 0%;
        background-image: url(../img/house-overlay-close.png);
        padding-left: 60px;
        padding-top: 14px;
        &:hover {
          background-position: 0% -48px;
        }
        &:active {
          background-position: 0% -96px;
        }
      }
      .house-navigation {
        height: inherit;
        width: auto;
        display: none; // TEMP
        .house-prev-arr {
          height: 48px;
          cursor: pointer;
          position: absolute;
          right: 110px;
          background-size: 48px;
          background-repeat: no-repeat;
          background-position: 0% 0%;
          background-image: url(../img/house-prev-arr.png);
          padding-left: 48px;
          padding-top: 11px;
          &:hover {
            background-position: 0% -48px;
          }
          &:active {
            background-position: 0% -96px;
          }
          //          svg path {
          //            fill: #1e1e1c;
          //            transition: all .3s;
          //          }
          //          &:hover {
          //            background: rgba(29, 29, 27, .1);
          //          }
          //          &:active {
          //            background: #1e1e1c;
          //            svg path {
          //              fill: #fff;
          //            }
          //          }
        }
        .house-title {
          height: inherit;
          padding-top: 8px;
          position: absolute;
          right: 0;
          text-align: center;
          width: 60px;
          right: 50px;
        }
        .house-next-arr {
          height: inherit;
          height: 48px;
          cursor: pointer;
          position: absolute;
          right: 0;
          background-size: 48px;
          background-repeat: no-repeat;
          background-position: 0% 0%;
          background-image: url(../img/house-next-arr.png);
          padding-left: 48px;
          padding-top: 11px;
          &:hover {
            background-position: 0% -48px;
          }
          &:active {
            background-position: 0% -96px;
          }
        }
      }
    }
    .house-text {
      padding-top: 90%;
      padding-top: 31.5vh;
      padding-bottom: 8%;
      padding-bottom: 3vh;
      // new rescale
      padding-top: 180%;
      padding-top: 63vh;
      margin-top: -253px;
      line-height: 24px;
    }
    .house-action-text {
      font-weight: 600;
      padding-bottom: 56%;
      padding-bottom: 19.5vh;
      line-height: 24px;
    }
    .contact {
      font-weight: 600;
      border-color: #1d1d1b;
      color: #1d1d1b;
      &:hover {
        background: rgba(29, 29, 27, .1);
      }
      &:active {
        background: #1e1e1c;
        color: #fff;
      }
    }
  }
  .floor-stripe {
    display: block;
    float: left;
    width: 60px;
    height: 100vh;
    color: #fff;
    border-leftbottom: solid 11px #fff;
    .floor-label {
      display: block;
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg);
      height: 20px;
      margin: 15px 0 24px -20px;
      padding: 15px 20px 20px 25px;
      width: 60px;
      border-left: solid 1px rgba(29, 29, 27, .2);
    }
    .floor-sel {
      color: #fff;
      cursor: pointer;
      display: block;
      width: inherit;
      text-align: center;
      padding-top: 20px;
      margin-right: 15px;
      padding-bottom: 20px;
      text-decoration: none;
      position: relative;
      border-bottom: solid 1px rgba(29, 29, 27, .2);
      &:hover, &.active {
        background: rgba(0, 0, 0, 0.17);
        &:after {
          background: url(../img/floor-hover.png);
        }
      }
    }
    .sel-border {
      display: none;
    }
    &.bordered {
      width: 65px;
      .floor-label {
        border-bottom: solid 11px #fff;
        margin: 15px 0 19px -15px;
        padding: 15px 20px 20px 25px;
      }
      .floor-sel {
        &:after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          width: 5px;
          height: 100%;
          background: red;
          color: blue;
          background: url(../img/floor-stripe-bg.png);
          border-top: solid 1px #fff;
        }
        &:hover,
        &.active {
          &:after {
            background: url(../img/floor-hover.png);
          }
        }
      }
      .sel-border {
        display: block;
        width: 60px;
        height: 100%;
        border-right: solid 5px #fff;
      }
    }
  }
  .floor-title {
    height: 100vh;
    //      width: 10px;
    display: block;
    float: left;
    background: #fff;
    width: 50px;
    text-decoration: none;
    color: #000;
    //    color:
    .floor-title-text {
      display: block;
      text-transform: uppercase;
      padding: 5px;
      width: 140px;
      height: 120px;
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg);
      color: #000;
      text-decoration: none;
    }
  }
  .shadow {
    width: 5px;
    height: 100vh;
    display: block;
    float: left;
    @include background (linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(212, 212, 212, 1) 100%));
  }
  .right {
    background: #fff;
    width: calc(100% - 520px);
    .floor-selection {
      background: #fff url('../img/house1.jpg') no-repeat 0% 50%;
      background-size: auto 100%;
      position: relative;
      height: 100vh;
      width: calc(100% + 100px);
      #floor-selection {
        polygon:hover {
          cursor: pointer;
        }
      }
      .polyfloor-pop {
        display: none;
        position: absolute;
        left: 70vh;
        background: #000;
        color: #fff;
        font-size: 14px;
        padding: 12px 40px 12px 15px;
        &:before {
          width: 5px;
          height: 10px;
          top: 30px;
          left: -5px;
          position: absolute;
          content: " ";
          background: url(../img/bubble-arrow.svg) no-repeat;
          background-position: center;
        }
        &:after {
          width: 43px;
          height: 43px;
          right: -22px;
          top: 11px;
          position: absolute;
          content: " ";
          background: url(../img/floor-icon.svg) no-repeat;
          background-position: center;
        }
        &.pop-a9 {
          top: 25%;
          top: 25vh;
        }
        &.pop-a8 {
          top: 31.5%;
          top: 31.5vh;
        }
        &.pop-a7 {
          top: 37%;
          top: 37vh;
        }
        &.pop-a6 {
          top: 43%;
          top: 43vh;
        }
        &.pop-a5 {
          top: 49%;
          top: 49vh;
        }
        &.pop-a4 {
          top: 55%;
          top: 55vh;
        }
        &.pop-a3 {
          top: 60.5%;
          top: 60.5vh;
        }
        &.pop-a2 {
          top: 67%;
          top: 67vh;
        }
        &.pop-a1 {
          top: 72%;
          top: 72vh;
        }
        &.pop-a0 {
          top: 78%;
          top: 78vh;
        }
      }
    }
    .floor-page {
      background: #fff;
      width: calc(100% + 100px);
      //        display: block;
      //        float: left;
      height: 100vh;
      .top-text {
        position: relative;
        line-height: 18px;
        padding: 30px 27px;
        h3 {
          font-weight: 600;
        }
        .compass {
          top: 30px;
        }
      }
    }
    .flat-page {
      background: #fff;
      width: calc(100% + 100px);
      display: block;
      float: left;
      height: 100vh;
      .flat-top {
        position: relative;
        padding: 24px 30px;
        //          width: calc(100%-60px);
        //          width: 100%;
        text-align: right;
        .back-to-floor {
          display: block;
          float: left;
          padding-top: 14px;
          text-decoration: none;
          color: #1d1d1b;
          .back-arr {
            display: block;
            float: left;
            margin-top: -14px;
            margin-right: 15px;
            cursor: pointer;
            height: 48px;
            width: 48px;
            background-size: 48px;
            background-repeat: no-repeat;
            background-position: 0% 0%;
            background-image: url(../img/back-arr.png);
          }
          &:hover .back-arr {
            background-position: 0% -48px;
          }
          &:active .back-arr {
            background-position: 0% -96px;
          }
        }
        h1 {
          font-size: 36px;
          margin-top: -2px;
          padding-right: 59px;
          text-transform: uppercase;
          color: #000;
        }
        .flat-price {
          padding-right: 57px;
          font-size: 24px;
          margin-top: 8px;
        }
        .view-switch {
          display: block;
          position: absolute;
          width: 78px;
          border: solid 1px #d2d2d1;
          border-radius: 15px;
          background: #f2f2f2;
          bottom: -23px;
          height: 22px;
          cursor: pointer;
          &.active span.view-switch-button {
            left: 40px;
          }
          > span {
            position: absolute;
            &.view-switch-button {
              border-radius: 15px;
              background: #fff;
              width: 38px;
              height: 22px;
              top: 0;
              left: 0;
              transition: all .2s;
            }
            &.threed-text {
              left: 10px;
              top: 3px;
              z-index: 4;
            }
            &.twod-text {
              left: 50px;
              top: 3px;
              z-index: 4;
            }
          }
        }
      }
      .flat-content {
        padding: 0 50px;
        .flat-image {
          width: 100%;
//          max-width: 550px;
          margin: 5vh auto 0 auto;
          height: 350px;
          height: 45vh;
          & > div {
            height: inherit;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 50% 50%;
            &.twod-img {
              display: none;
            }
          }
        }
        .flat-details {
          padding-top: 3%;
          @include clearfix;
          .col {
            display: block;
            float: left;
            width: 30%;
            &.col2 {}
            > p > span {
              font-weight: 600;
            }
          }
          .button {
            border-color: #1d1d1b;
            color: #1d1d1b;
            font-weight: 300;
            margin-top: 0;
            margin-bottom: 17px;
            padding: 9px 20px;
            width: 160px;
            @include maxw(1024px) {
              width: 90%;
            }
            font-size: 14px;
            &:hover {
              background: rgba(30, 30, 28, 0.1);
              color: rgba(30, 30, 28, 1);
            }
            &:active {
              background: rgba(30, 30, 28, 1);
              color: #fff;
            }
          }
        }
      }
    }
  }
}

.compass {
  position: absolute;
  right: 87px;
  bottom: -60px;
  height: 68px;
  width: 68px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  &.pv {
    background-image: url('../img/compass-pv.png');
  }
}

#about {
  background-color: #e4a101;
  color: #fff;
  @include minw(769px) {
    .column {
      h2 {
        padding-top: 6.5vh;
      }
      .button {
        margin-top: 1vh;
      }
    }
  }
  .feature {
    display: block;
    padding-top: 26px;
    padding-bottom: 26px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
    width: calc(100%+20px);
    @include clearfix;
    .feature-head {
      display: block;
      @include clearfix;
    }
    h3 {
      font-weight: 600;
      line-height: 1.5;
      display: block;
      float: left;
    }
    .feature-toggle {
      display: block;
      float: right;
      background: url(../img/mob-arr-right.svg) no-repeat 50% 50%;
      background-size: 4px;
      width: 16px;
      height: 16px;
      border: solid 2px #fff;
      border-radius: 50%;
    }
    .feature-desc {
      padding-top: 26px;
      display: none;
    }
    &:hover,
    .active {
      .feature-toggle {
        background-image: url(../img/mob-arr-right-orange.svg);
        background-color: #fff;
      }
    }
  }
  .desk-features {
    display: block;
    height: 100%;
    overflow: visible;
    position: relative;
    .feature-scroll {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    @include clearfix;
    .feature-row {
      //      padding-top: 2.5vh;
      padding-top: 20px;
      line-height: 24px;
      max-width: 54vw;
      .feature-icon {
        display: block;
        float: left;
        padding-left: 20px;
        padding-right: 20px;
      }
      h4 {
        padding-top: 6px;
        font-weight: 600;
      }
      .feature-text {
        margin-left: 125px;
      }
    }
    .iScrollVerticalScrollbar,
    .iScrollLoneScrollbar {
      background: rgba(255, 255, 255, .3);
      border-radius: 10px!important;
      top: 50px!important;
      width: 10px!important;
      right: 15px!important;
      height: 90vh!important;
      .iScrollIndicator {
        border-radius: 10px!important;
        background: rgba(255, 255, 255, 1)!important;
      }
    }
  }
  .button {
    &:hover {
      background: rgba(255, 255, 255, .1);
      color: #fff;
    }
    &:active {
      color: #e4a101;
      background: #fff;
    }
  }
}

#location {
  background: #fff;
  color: #000;
  .column {
    a.button {
      border-color: #1e1e1c;
      color: #1e1e1c;
      &:hover {
        background-color: #1e1e1c;
        color: #fff;
      }
    }
    @include minw(769px) {
      h2 {
        padding-top: 30.4vh;
        padding-bottom: 9.2vh;
      }
    }
  }
}

#map-canvas {
  height: 100vh;
}

.bubble-info {
  display: block;
  float: left;
  padding: 10px 12px;
  color: #fff;
  background: #1e1e1c;
}

.bubble-arrow {
  display: block;
  float: left;
  width: 5px;
  height: 36px;
  background: url('../img/bubble-arrow.svg') no-repeat;
}

//.gmnoprint {
//  display: none!important;
//  visibility: hidden!important;
//}
#gallery {
  background-color: #1e1e1c;
  color: #fff;
  position: relative;
  @include minw(769px) {
    h2 {
      padding-top: 38vh;
      padding-bottom: 10vh;
    }
  }
  .column {
    padding: 0;
    width: 100%;
    z-index: 99;
    @include minw(769px) {
      z-index: 55;
      position: absolute;
      background-color: #1e1e1c;
      width: 280px;
      padding-left: 40px;
      padding-right: 40px;
    }
    h2,
    .column-text {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .gallery-container {
    //    margin-left: -20px;
    //    margin-right: -20px;
    height: 338px;
    //    width: calc(100% + 30px);
    //    margin-left: -30px;
    @include minw(769px) {
      margin: 0;
    }
    .scroller {
      height: 338px;
      width: 800vw;
      font-size: 0;
      @include minw(769px) {
        //        width: 800vw;
        padding-left: 360px;
      }
      .slide {
        height: 100%;
        width: 100vw;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        letter-spacing: normal;
        word-spacing: normal;
      }
    }
  }
  .gallery-navigation {
    text-align: center;
    z-index: 3;
    @include minw(769px) {
      position: absolute;
      top: 48%;
      right: 0;
      z-index: 50;
      background: #1e1e1c;
    }
    span {
      display: inline-block;
    }
    .arr-left {
      margin: 10px;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      border: solid 2px #fff;
      background: url(../img/mob-arr-left.svg) no-repeat 50% 50%;
      background-color: inherit;
      background-size: 8px;
      cursor: pointer;
      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
      &:active {
        background: url(../img/mob-arr-left-black.svg) no-repeat 50% 50%;
        background-size: 8px;
        background-color: rgba(255, 255, 255, 1);
      }
    }
    .slidecount {
      white-space: nowrap;
      @include translate (0, -180%);
      .slide-current {}
      .slide-total {}
    }
    .arr-right {
      cursor: pointer;
      margin: 10px;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      border: solid 2px #fff;
      background: url(../img/mob-arr-right.svg) no-repeat 50% 50%;
      background-color: inherit;
      background-size: 8px;
      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
      &:active {
        background: url(../img/mob-arr-right-black.svg) no-repeat 50% 50%;
        background-size: 8px;
        background-color: rgba(255, 255, 255, 1);
      }
    }
  }
}

#contacts {
  background-color: #24383d;
  color: #fff;
  h2 {
    @include minw(769px) {
      padding-top: 7vh;
    }
  }
  .column {
    padding-bottom: 20px;
    #contactform {
      input[type="text"], textarea {
        font-family: 'Source Sans Pro';
        border: solid 1px #415f67;
        background: transparent;
        width: calc(100% - 38px);
        color: #fff;
        padding: 14px 19px;
        font-size: 16px;
        display: block;
        margin-bottom: 30px;
        @include clearfix;
      }
      @include placeholder {
        color: #fff;
        font-weight: 300;
      }
      .button {
        &:hover {
          background: rgba(255, 255, 255, .1);
          color: #fff;
        }
        &:active {
          background: #fff;
          color: #24383d;
        }
      }
      textarea {
        margin-bottom: 16vh;
        @include maxw(768px) {
          margin-bottom: 30px;
        }
      }
      @include minw(769px) {
        padding-top: 3vh;
      }
    }
  }
  .brokers {
    text-align: center;
    line-height: 1.5;
    @include minw(769px) {
      padding-left: 1.6vw;
      text-align: left;
    }
    h3 {
      font-size: 36px;
      padding-top: 7vh;
      line-height: 30px;
      padding-bottom: 3.7vh;
    }
    .broker {
      @include minw(769px) {
        display: block;
        float: left;
        width: 43%;
      }
      img {
        margin-top: 20px;
        margin-bottom: 30px;
        border-radius: 50%;
        @include minw(769px) {
          display: block;
          float: left;
          margin-right: 13px;
        }
      }
      .brokername {
        font-weight: 600;
        @include minw(769px) {
          padding-top: 22px;
          min-width: 300px;
        }
      }
      .brokerinfo {
        color: #6d8a91;
        margin-bottom: 15px;
        @include minw(769px) {}
      }
    }
  }
}

.sidemenu {
  z-index: 32;
  position: fixed;
  right: -260px;
  top: 0;
  width: 260px;
  background-color: #1d1d1b;
  height: 100%;
  line-height: 36px;
  font-weight: 300;
  font-size: 30px;
  text-transform: uppercase;
  transition: all .3s;
  @include minw(769px) {
    right: -400px;
    width: 400px;
  }
  &.expanded {
    right: 0;
  }
  .menu-close {
    cursor: pointer;
    position: relative;
    background: url(../img/close.svg) no-repeat 215px 20px;
    background-size: 16px;
    height: 92px;
    width: 100%;
    @include minw(769px) {
      background: url(../img/close.svg) no-repeat 365px 20px;
      background-size: 16px;
    }
  }
  ul {
    @include minw(769px) {
      padding-top: 25%;
      padding-top: 12.5vh;
      padding-left: 2%;
    }
    li {
      padding: 18px 30px;
      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

.overlay {
  background: #fff;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  z-index: 35;
  top: 0;
  h3, p, .floor-select {
    padding: 20px;
  }
  h3 {
    font-size: 21px;
    font-weight: 600;
    padding: 19px;
    border-bottom: solid 1px #d4d4d4;
  }
  .overlay-close {
    cursor: pointer;
    position: absolute;
    width: 56px;
    height: 56px;
    top: 0;
    right: 0;
    background: url(../img/close-black.svg) no-repeat 50% 50%;
    background-size: 15px;
  }
}

#flats {
  display: none;
  padding-left: 0;
  transition: all .5s;
  overflow-y: scroll;
  &.filtered {
    padding-left: 259px;
    .filtering {
      margin-left: 0;
    }
  }
  .flats {
    .floor-select {
      padding-top: 3px;
      @include clearfix;
      span {
        display: block;
        float: left;
        padding-top: 15px;
      }
      .flatid {
        float: left;
        border: solid 2px #1d1d1b;
        color: #1d1d1b;
        border-radius: 50px;
        width: 44px;
        background-color: rgba(0, 0, 0, 0);
        margin: 0;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        padding: 14px 0;
        transition: all .2s;
        margin-left: 20px;
        &:hover, &.active {
          background-color: rgba(0, 0, 0, 1);
          color: #fff;
        }
      }
    }
    .button {
      border: solid 2px #1d1d1b;
      color: #1d1d1b;
      margin-left: auto;
      &:hover {
        background-color: rgba(0, 0, 0, 1);
        color: #fff;
      }
    }
    .flat-table {
      .row {
        padding: 0 6%;
        @include clearfix;
        border-bottom: solid 1px #d4d4d4;
        &.active {
          .flat-span {
            background: #1d1d1b;
            color: #fff;
            .apt-more {
              background: url('../img/mob-arr-down.svg') no-repeat 50% 50%;
              background-size: 10px;
              border-color: #fff;
            }
          }
        }
        &.head-row {
          font-weight: 600;
          & > div {
            display: inline-block;
            padding-bottom: 20px;
          }
        }
        .flat-span {
          margin-left: -6%;
          margin-right: -6%;
          padding-left: 6%;
          padding-right: 6%;
          & > div {
            display: inline-block;
            padding-bottom: 20px;
          }
        }
        .floor {
          width: 26%
        }
        .space {
          width: 31%
        }
        .price {
          width: 31%;
          font-weight: 600;
        }
        .rooms {
          @include hide;
        }
        &.flat-row {
          .apt-more {
            background: url('../img/mob-arr-right-black.svg') no-repeat 50% 50%;
            background-size: 5px;
            width: 20px;
            height: 20px;
            border: solid 2px #000;
            border-radius: 24px;
            padding-right: 0;
            @include translate (0, 100%);
          }
          .flat-content {
            display: none;
            border-top: solid 1px #d4d4d4;
            width: calc(112%);
            margin-left: -6%;
            padding: 6%;
            p {
              padding: 0;
              > span {
                font-weight: 600;
              }
            }
            .flat3d {
              margin: 20px auto;
              width: calc(100% - 40px);
              ;
            }
            .floor-plan-container {
              position: relative;
              margin-top: 20px;
              margin-bottom: 20px;
              width: calc(100% - 40px);
              .flat-marker {
                position: absolute;
                width: 44px;
                top: 0;
                left: 0;
                @include translate(-22px, -54px);
                height: 54px;
                background: url(../img/flat-marker.png) no-repeat;
                @include retina(flat-marker);
                background-size: 44px 52px;
              }
              .floor-plan {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
  .filtering {
    transition: all .5s;
    margin-left: -259px;
    left: 0px;
    position: absolute;
    background: #1d1d1b;
    color: #fff;
    height: 100%;
    width: 259px;
    overflow-y: visible;
    .filter-back {
      text-align: right;
      padding: 19px 55px;
      font-size: 21px;
      background: url(../img/back.png) no-repeat 220px 17px;
    }
    .filter-block {
      border-top: solid 1px #30302e;
      //      padding: 19px 31px;
      padding: 13px 31px;
      h4 {}
      .filter {
        & * {
          display: inline-block;
        }
        .filter-label {
          font-weight: 600;
          width: 42px;
          @include translate(0, -100%);
        }
        .filter-actions {
          padding: 16px 0;
          .filter-less {
            width: 38px;
            height: 38px;
            border-radius: 50%;
            border: solid 2px #fff;
            background: url(../img/mob-arr-left.svg) no-repeat 50% 50%;
            background-size: 8px;
          }
          .filter-value {
            text-align: center;
            width: 60px;
            @include translate(0, -100%);
            span {
              display: none;
              &.selected {
                display: inline-block;
              }
            }
          }
          .filter-more {
            width: 38px;
            height: 38px;
            border-radius: 50%;
            border: solid 2px #fff;
            background: url(../img/mob-arr-right.svg) no-repeat 50% 50%;
            background-size: 8px;
          }
        }
      }
      .button {
        width: 194px;
      }
    }
  }
}

#flat-list {
  background: #fff;
  position: relative;
  a {
    color: #1d1d1b;
    text-decoration: none;
  }
  .flat-overlay-row {
    border-bottom: solid 1px#d4d4d4;
    .flat-list-head {
      width: 100%;
      @include clearfix;
      .flats-list-close {
        margin: 24px 0 0 20px;
        cursor: pointer;
        position: absolute;
        height: inherit;
        padding-left: 60px;
        padding-top: 14px;
        height: 34px;
        width: 48px;
        background-size: 48px;
        background-repeat: no-repeat;
        background-position: 0% 0%;
        background-image: url(../img/house-overlay-close.png);
        &:hover {
          background-position: 0% -48px;
        }
        &:active {
          background-position: 0% -96px;
        }
      }
      h1 {
        width: auto;
        margin: 30px;
        font-size: 36px;
        font-weight: 300;
        text-align: right;
      }
    }
    .flat-list-filters {
      color: #1d1d1b;
      & > * {
        display: inline-block;
      }
      padding: 1.7% 2.1% 2.3% 1.6%;
      .filter-key {
        padding: 12px 5px 0 8px;
        display: inline-block;
      }
      .flat-list-house-sel {
        .house-id {
          border-radius: 50%;
          padding: 12px 18px;
          border: solid 2px #1d1d1b;
          margin-left: 9px;
          color: #1d1d1b;
          &:hover {
            background: #e8e8e8;
          }
          &:active,
          &.selected {
            color: #fff;
            background: #1d1d1b;
          }
        }
      }
      .filter-group {
        position: relative;
        .filter-value {
          width: 103px;
          display: inline-block;
          border: solid 1px #232321;
          padding: 8px 6px;
          line-height: 16px;
          cursor: pointer;
          background: url(../img/filter-dropdown.png) no-repeat 90% 50%;
        }
        .filter-dropdown {
          cursor: pointer;
          display: none;
          position: absolute;
          top: 0;
          right: 0;
          margin-top: 10px;
          width: 115px;
          padding-top: 35px;
          &.open {
            display: block;
          }
          ul {
            background: #fff;
            border: solid 1px #232321;
            li {
              padding: 8px 6px;
              &:hover {
                font-weight: 600;
              }
            }
          }
          .filter-caret {
            width: 8px;
            height: 5px;
            position: absolute;
            right: 10px;
            //            display: none;
            background: url(../img/list-caret.png) no-repeat;
            z-index: 2;
            top: 31px;
          }
        }
      }
      .desk-filter-btn {
        color: #1e1e1c;
        border-color: #1e1e1c;
        cursor: pointer;
        margin-top: 22px;
        padding: 8px 22px;
        width: auto;
        float: right;
        margin: 0;
        &:hover {
          background: rgba(30, 30, 28, 0.1);
        }
        &:active,
        &.active {
          background: rgba(30, 30, 28, 1);
          color: #fff;
        }
      }
    }
  }
  .flats {
    .flat-table {
      width: 1000px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 60px;
      a {
        color: #1d1d1b;
        display: block;
      }
      @include maxw(1000px) {
        width: 100%;
      }
      .head-row {
        font-weight: 600;
        padding: 28px 0 22px 0!important;
      }
      .row {
        padding: 20px 0 32px 0;
        border-bottom: solid 1px#d4d4d4;
        & > * {
          margin-right: -4px;
          display: inline-block;
        }
        .floor {
          width: 9%;
        }
        .rooms {
          width: 16.2%;
        }
        .space {
          width: 12%;
        }
        .balc {
          width: 10%;
        }
        .direction {
          width: 14%;
        }
        .price {
          width: 10.1%;
          font-weight: 600;
        }
        .flatid {
          width: 13.2%;
        }
        .status {
          width: 13.2%;
        }
      }
    }
  }
}

#landing {
  &.slideleft {
    transition: all .3s;
    margin-left: -360px;
    #slide-overlay {
      display: block;
      .slide-side {
        right: 0px;
        transition: all .3s;
      }
    }
  }
  #slide-overlay {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(30, 30, 28, 0.6);
    top: 0;
    left: 0;
    .slide-side {
      @include maxw(1024px) {
        @include maxh(768px) {
          margin-right: -360px;
        }
      }
      transition: all .3s;
      position: absolute;
      right: -360px;
      top: 0;
      display: block;
      width: 360px;
      height: 100%;
      transition: all .3s;
      background: #fff;
      .close-side {
        margin-top: 23px;
        margin-left: 30px;
        cursor: pointer;
        position: absolute;
        margin-right: 12px;
        height: 48px;
        width: 48px;
        background-size: 48px;
        background-repeat: no-repeat;
        background-position: 0% 0%;
        background-image: url(../img/house-overlay-close.png);
        &:hover {
          background-position: 0% -48px;
        }
        &:active {
          background-position: 0% -96px;
        }
      }
      h3 {
        display: block;
        float: right;
        font-size: 36px;
        margin-right: 8px;
      }
      .contact-broker {
        padding: 30px;
        .broker {
          display: block;
          float: left;
          padding-top: 10px;
          img {
            margin-top: 20px;
            margin-bottom: 30px;
            border-radius: 50%;
            display: block;
            float: left;
            margin-right: 13px;
            border: solid 3px #e0e0e0;
          }
          .brokername {
            font-weight: 600;
            padding-top: 30px;
            min-width: 300px;
            margin-bottom: 4px;
          }
          .brokerinfo {
            line-height: 24px;
            color: #6d8a91;
          }
        }
        #brokerform {
          display: block;
          //          margin-top: 175px;
          padding-top: 25vh;
          input[type="text"], textarea {
            font-family: 'Source Sans Pro';
            border: solid 1px #e0e0e0;
            background: transparent;
            color: #000;
            padding: 15px 19px;
            font-size: 16px;
            display: block;
            margin-bottom: 30px;
            width: 250px;
            font-weight: 300;
            @include clearfix;
          }
          @include placeholder {
            color: #000;
            font-weight: 300;
          }
          .button {
            color: #1d1d1b;
            border-color: #1d1d1b;
            transition: all .3s;
            &:hover {
              background: rgba(29, 29, 27, .1);
            }
            &:active {
              background: #1e1e1c;
              color: #fff;
            }
          }
          textarea {
            height: 20vh;
          }
        }
      }
      .similar {
        padding: 30px;
        a {
          color: #1d1d1b;
          text-decoration: none;
        }
        .flat-table {
          padding-top: 88px;
          .row {
            width: 100%;
            @include clearfix;
            border-bottom: solid 1px #d4d4d4;
            &.head-row {
              font-weight: 600;
              & > div {
                display: inline-block;
                padding-bottom: 23px;
              }
            }
            .floor {
              width: 26%
            }
            .rooms {
              width: 30%;
            }
            .space {
              width: 31%
            }
            .price {
              width: 31%;
              font-weight: 600;
            }
            &.flat-row {
              & > div {
                display: inline-block;
                padding-bottom: 23px;
              }
              &:hover {
                .apt-more {
                  background: url('../img/similar-arr-hover.svg') no-repeat 50% 50%;
                }
              }
              &:active {
                .apt-more {
                  background: url('../img/similar-arr-active.svg') no-repeat 50% 50%;
                }
              }
              .apt-more {
                width: 24px;
                height: 24px;
                background: url('../img/similar-arr.svg') no-repeat 50% 50%;
                @include translate (0, 100%);
              }
            }
          }
        }
      }
    }
  }
}

#mob-map {
  background: #fff;
}

.if-desk {
  @include maxw(768px) {
    display: none;
  }
}

.if-mob {
  @include minw(769px) {
    display: none;
  }
}

.filtered-out {
  display: none;
}

.flat-table-error {
  display: none;
}

.tablet-err {
  background: #1d1d1b;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  //  position: relative;
  position: fixed;
  top: 0;
  z-index: 36;
  display: none;
  .err-in {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);
    img {
      margin-bottom: 30px;
    }
  }
}

.flat-mark {
  position: absolute;
  &:after {
    content: '';
    position: absolute;
    right: -24px;
    top: -24px;
    width: 18px;
    height: 18px;
  }
  .floor-circle {
    position: absolute;
    top: -24px;
    left: -24px;
    &:active {
      .circle {
        .circle-in {
          background: #000;
        }
      }
    }
    .circle {
      font-size: 12px;
      cursor: pointer;
      text-align: center;
      padding: 6px;
      width: 36px;
      border-radius: 50%;
      height: 36px;
      background: rgba(0, 0, 0, 0.4);
      .circle-in {
        padding-top: 12px;
        width: 36px;
        height: 24px;
        border-radius: 50%;
        background: #fff;
        &:active {
          background: #000;
        }
      }
    }
    .floor-pop-snap {
      position: relative;
      .floor-pop {
        text-align: left;
        font-size: 14px;
        min-width: 153px;
        color: #fff;
        padding: 15px 12px;
        background: rgba(11, 22, 30, .8);
        top: -65px;
        left: 58px;
        position: absolute;
        width: auto;
        opacity: 0;
        display: none;
        z-index: 2;
        &.reserved, &.sold {
          top: -45px;
        }
        p {}
        &:before {
          content: '';
          width: 5px;
          height: 10px;
          position: absolute;
          left: -5px;
          top: 40%;
          background: url('../img/pop-snap.svg') no-repeat;
        }
      }
    }
  }
  &.hovered {
    .circle {
      .circle-in {
        background: rgba(0, 0, 0, 0.4);
        color: #fff;
      }
    }
    .floor-mark {}
    .floor-pop-snap {
      .floor-pop {
        display: block;
        opacity: 1;
        p {}
      }
    }
  }
  &.reserved {
    &:after {
      background: url(../img/iconreserved.svg);
    }
  }
  &.sold {
    .circle {
      .circle-in {
        &:active {
          background: #bebebe;
        }
      }
    }
  }
  &.sold {
    &:active {
      .circle {
        .circle-in {
          background: #bebebe;
        }
      }
    }
    &:after {
      background: url(../img/iconsold.svg);
    }
    .circle {
      .circle-in {
        background: #bebebe;
        color: rgba(29, 29, 27, 0.4);
      }
    }
    //    .floor-pop-snap {
    //      position: relative;
    //      .floor-pop {
    //        opacity: 0;
    //        display: none;
    //      }
    //    }
  }
}

.floor-plan {
  position: relative;
  margin: 35px auto 80px auto;
  width: 100%;
  @include maxh(780px) {
    margin-top: -20px;
    width: 75%;
  }
  svg {
    position: absolute;
    width: 100%;
    path {
      cursor: pointer;
      //      fill: url(#free);
      //      &.sold {
      //        cursor: auto;
      //        fill: url(#sold);
      //        &.hovered {
      //          fill: url(#sold)!important;
      //        }
      //      }
      //      &.reserved {
      //        fill: url('/#reserved');
      //      }
      //      &.hovered {
      //        fill: url(#hover)!important;
      //      }
    }
  }
}

